.background{
    

height:42vh;
left:0;
width:88%;
border-radius: 40px;
margin-top:75px;
background-color:  RGBA(253,162,80,0.18);
.connection{
       
        margin-left:500px;
        width:40%;
        h2{
                padding-top: 70px;
                padding-bottom: 25px;
                padding-left:125px;
                font-size: 1.8rem;
                font-weight: 600;
  
        }
        p{
                
        justify-items: center;
           font-size: 0.9rem;
            letter-spacing: 0.04rem;

        color: gray;
        b{
                color:#fd7028; 
                font-weight: 400; 
        }
        padding-bottom:27px;
        }
        a{
                margin-left: 150px;
                background-color:#fd7028 ;
                color: white;
                padding:15px 20px;
                border-radius: 40px;
                font-size:0.9rem;
                cursor:pointer;

        

        
                
    
        

        }
        a:hover {
                box-shadow: 0 0 0 0 rgb(163, 186, 221);
                transform: scale(1);
                animation: pulse 2s infinite;
                opacity: 0.9;
             /* Animate for 1.5 seconds on hover */
              }
              
        
        @keyframes pulse {
                0% {
                        transform: scale(0.95);
                        
                }
        
                70% {
                        transform: scale(1);
                        box-shadow: 0 0 0 20px rgba(#5a99d4, 0);

                }
        
                100% {
                        transform: scale(1);
                        box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
                }
        }
        




    
}
}
.neechewala{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 4050px; 
        z-index: -1;
}
